# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Node modules
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts/
.expo-shared/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
expo-debug.log

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*


# Android/gradle
android/.gradle
android/app/build

# iOS
ios/Pods
ios/build
ios/DerivedData

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env
*.env.*

# typescript
*.tsbuildinfo
.vscode/


app-example

# Output files
*.tar
*.tgz
*.zip